<!-- topics -->

<h3>トピックス</h3>

{% for post in site.posts %}
  <p>
		{{ post.date | date: "%Y/%m/%d"}}:<br />
		<strong><a href="{{post.url}}">{{ post.title }}</a></strong> を公開しました！
	</p>
{% endfor %}

<!-- stuff included from header.html -->

<h3>開催企画</h3>
<ul>
	<li><a href="/info.html">企画一覧</a></li>
	<!--<li><a href="/catalog17.html">CA17参加サークルリスト</a></li>-->
	<!--<li><a href="/koryukai.html">交流会</a>-->
</ul>

<h3>CA19に参加しよう</h3>
<ul>
	<li><a href="/caution_.html">一般参加</a></li>

	<li><a href="/join.html">サークル参加</a></li>
	<li><a href="/itaku.html">委託参加</a></li>
	<li><a href="/goudoushi.html">合同誌参加</a></li>


</ul>
<h3>コミアカについて</h3>
<ul>
	<li><a href="/about.html">コミアカとは？</a></li>
	<li><a href="/c3project.html">公式キャラクター</a></li>
	<li><a href="/past.html">過去の即売会</a></li>
	<li><a href="/past_others.html">過去のイベント（学園祭時除く）</a></li>
	<li><a href="/member.html">メンバー</a></li>
	<li><a href="/publication.html">刊行物</a></li>
	<li><a href="/gallery.html">コミアカのCM</a></li>
	<li><a href="/about_eng.html">English</a></li>
	<li><a href="/about_kor.html">Korean</a></li>
</ul>
<h3>その他</h3>
<ul>
	<!-- <li><a href="/system/">参加申込システム</a></li> -->
	<li><a href="/shinkantop.html">新歓・スタッフ募集</a></li>
	<li><a href="/faq.html">FAQ</a></li>
	<li><a href="/link.html">リンク</a></li>
	<li><a href="/contact.html">お問い合わせ</a></li>
	<li><a href="https://twitter.com/comiaca">Twitter</a></li>

	<li><a href="/privacy.html">プライバシーポリシー</a></li>

</ul>

<!-- twitter -->

<p style="text-align: center; margin-right:110px"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://comiaca.com/" data-lang="ja" data-hashtags="comiaca">ツイート</a>
<a class="twitter-timeline" data-lang="ja" data-height="700" data-theme="light" href="https://twitter.com/comiaca?ref_src=twsrc%5Etfw">コミックアカデミー実行委員会のツイート</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
