<!-- topics -->

<h3>トピックス</h3>
<br>
2021/03/19:
<br> <strong><a href="shinkan2021.html">新歓情報のページ</a></strong>を公開しました！<br>
<br>
2020/11/20:
<br> <a href="/ca2020autumn/"><strong>オンライン企画「コミックアカデミー2020秋」特設ページ</strong></a>を公開！<br>
<br>
2020/10/24:
<br> <a href="/goudoushi_2020autumn.html"><strong>「コミックアカデミー合同誌2020秋」参加の募集</strong>について</a>公開しました。<br>
<br>
2020/05/14:
<br> <a href="/goudoushi_2020spring.html"><strong>「コミックアカデミー合同誌2020春」参加の募集</strong>について</a>公開しました。<br>
<br>
2020/05/01:
<br> <strong><a href="/ca20_covid19_20200501.html">同人誌即売会「コミックアカデミー20」の開催見通しについて（第2報）・2020年5月「コミアカ合同誌」発行のお知らせ・2020年5月オンライン企画開催のお知らせ</a></strong>を公開しました。<br>
<br>
2020/04/12:
<br> <strong><a href="/shinkan2020_circles/">同人創作系サークル紹介ページ</a></strong>を公開しました！<br>
<br>
2020/03/24:
<br> <strong><a href="shinkan2020.html">新歓情報のページ</a></strong>を公開しました！<br>
<br>
2019/10/22:
<br> コミアカ19 <strong><a href="catalog19.html">参加サークルリスト</a></strong>を公開しました！<br> 　　　
<br>

									2019/10/01:
									<br> コミアカ19 <span style="color: #ff3333"><strong><a href="join.html">サークル参加</a></strong></span>、<span style="color: #ff3333"><strong><a href="itaku.html">委託参加</a></strong></span>、<span style="color: #ff3333"><strong><a href="goudoushi.html">合同誌参加</a></strong></span>の募集について公開しました。
<br>サークル参加申込〆切は<strike>10/14</strike> <strong>10/17</strong>(延長しました)です！<br> 　　　
									<br>
2019/04/27:
<br> コミアカ18 <strong><a href="catalog18.html">参加サークルリスト</a></strong>を公開しました！<br> 　　　
<br>
2019/04/02:
<br> コミアカ18 <span style="color: #ff3333"><strong><a href="join.html">サークル参加</a></strong></span>、<span style="color: #ff3333"><strong><a href="itaku.html">委託参加</a></strong></span>、<span style="color: #ff3333"><strong><a href="goudoushi.html">合同誌参加</a></strong></span>の募集について公開しました。
<br>サークル参加申込〆切は<del>4/17</del><strong>4/20</strong><small>（延長しました）</small>です！<br> 　　　
<br>
2019/03/28:
<br> <strong><a href="shinkan2019.html">新歓情報のページ</a></strong>を公開しました！<br>

<!-- stuff included from header.html -->

<h3>開催企画</h3>
<ul>
	<li><a href="/info.html">企画一覧</a></li>
	<!--<li><a href="/catalog17.html">CA17参加サークルリスト</a></li>-->
	<!--<li><a href="/koryukai.html">交流会</a>-->
</ul>

<h3>CA19に参加しよう</h3>
<ul>
	<li><a href="/caution_.html">一般参加</a></li>

	<li><a href="/join.html">サークル参加</a></li>
	<li><a href="/itaku.html">委託参加</a></li>
	<li><a href="/goudoushi.html">合同誌参加</a></li>


</ul>
<h3>コミアカについて</h3>
<ul>
	<li><a href="/about.html">コミアカとは？</a></li>
	<li><a href="/c3project.html">公式キャラクター</a></li>
	<li><a href="/past.html">過去の即売会</a></li>
	<li><a href="/past_others.html">過去のイベント（学園祭時除く）</a></li>
	<li><a href="/member.html">メンバー</a></li>
	<li><a href="/publication.html">刊行物</a></li>
	<li><a href="/gallery.html">コミアカのCM</a></li>
	<li><a href="/about_eng.html">English</a></li>
	<li><a href="/about_kor.html">Korean</a></li>
</ul>
<h3>その他</h3>
<ul>
	<!-- <li><a href="/system/">参加申込システム</a></li> -->
	<li><a href="/shinkantop.html">新歓・スタッフ募集</a></li>
	<li><a href="/faq.html">FAQ</a></li>
	<li><a href="/link.html">リンク</a></li>
	<li><a href="/contact.html">お問い合わせ</a></li>
	<li><a href="https://twitter.com/comiaca">Twitter</a></li>

	<li><a href="/privacy.html">プライバシーポリシー</a></li>

</ul>

<!-- twitter -->

<p style="text-align: center; margin-right:110px"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://comiaca.com/" data-lang="ja" data-hashtags="comiaca">ツイート</a>
<a class="twitter-timeline" data-lang="ja" data-height="700" data-theme="light" href="https://twitter.com/comiaca?ref_src=twsrc%5Etfw">コミックアカデミー実行委員会のツイート</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
